*{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.All-Page{
    background-color: black;
    width: 100%;
    height: 2600px;
}

.Section_1
{
    background-color: yellow;
    width: 100%;
    height: 40%;
}
.Section_2
{
    width: 100%;
    height: 40%;
    background-color: blue;
}
.Section_3
{
    width: 100%;
    height: 10%;
    background-color: red;
}
.Image_header{
  height: 100%;
  width: 100%;
  /* background: url(header.jpg); 
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  */
}

.Image_Content{

    /* background: url(section2.jpg);
    position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  */
  height: 100%;
  width: 100%;
}

